@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
}
.header__logo-menu {
}
.logo-menu__logo {
}
.logo-menu__menu {
}
.header__welcome-message {
}
.header__financialPortafolio {
}
.financialPortafolio__savings {
}
.financialPortafolio__assets {
}
