:root{
    --color-1: #33404F;
    --color-2: #00DDA3;
    --color-3: #B5C5C3;
    --color-4: #FFFFFF;


    --color-5-credit-card-even: #ADB3B9;
    --color-shadow: #4e58643f;

    --space-layout-padding-left:20px;
    --space-layout-padding-right: 20px;
    --space-layout-padding-top: 30px;
    --space-layout-padding-bottom: 30px;


    --margin-activities-content-types: 10px 0 10px 10px; /* top, right, bottom, left */
    --padding-top-activities-content-types: 30px;



}

@font-face {
    font-family: "SF-Pro-Text-Bold";
    src: url("/storage/font/SF-Pro-Text/SF-Pro-Text-Bold.otf");
}

@font-face {
    font-family: "SF-Pro-Text-Heavy";
    src: url("/storage/font/SF-Pro-Text/SF-Pro-Text-Heavy.otf")
}

@font-face {
    font-family: "SF-Pro-Text-Medium";
    src: url("/storage/font/SF-Pro-Text/SF-Pro-Text-Medium.otf");
}

@font-face {
    font-family: "SF-Pro-Text-Light";
    src: url("/storage/font/SF-Pro-Text/SF-Pro-Text-Light.otf");
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("/storage/font/Roboto/Roboto-Bold.ttf");
}

@font-face {
    font-family: "Roboto-Medium";
    src: url("/storage/font/Roboto/Roboto-Medium.ttf");
}
