<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/balance.css">
    <title>Virtual Wallet - Balance View</title>

</head>


<body>

    <header class="header">
        <div class="header__circulo-grande"></div>
        <div class="header__logo-menu">
            <div class="logo-menu__logo">
                <img src="/storage/image/inveto-white-symbol.svg" alt="Invento Logo">
                <small>WALL-E</small>
            </div>

            <div class="logo-menu__menu">
                <img src="/storage/image/icon-line-menu-white.svg" alt="Menu Icon">
            </div>
        </div>
        <div class="header__circulo-pequeño">
            <div class="circulo-pequeño__titulo">
                <h2>Total</h2>
                <h2>Balance</h2>
            </div>

            <div class="circulo-pequeño__dinero">
                <span>$</span>
                <p>214,417</p>
            </div>
        </div>

    </header>



    <main class="main">

        <div class="financial-management">

            <div class="main__finacial-management">
                <p>Assets</p>
                <p>Debt</p>
                <p>Income</p>
                
            </div>
            
            <div class="main__finacial-management-image">
                <img src="/storage/image/graphic.svg">
            </div>
        </div>

        <article class="main__spending">

            <div class="spending__exit">
                <img src="/storage/image/x-green.svg">
            </div>


            <div class="spending__content">
                <div class="spending__card">
                    <img src="/storage/image/card.svg">
                </div>
                <div class="spending__text">
                    <h3>Spending</h3>
                    <small>You forgot to add debt card number at payment #1323. Add it now.</small>
                </div>
            </div>
        
        </article>
    </main>







    <footer class="footer">
        <ul class="footer__navigation-icons">
            <li>
                <a href="#">
                    <img src="/storage/image/white-home-footer.svg">
                </a>
            </li>

            <li>
                <a href="balance.html">
                    <img src="/storage/image/green-content-footer.svg">
                </a>
            </li>

            <li>
                <a href="cards.html">
                    <img src="/storage/image/white-menu-footer.svg">
                </a>
            </li>

            <li>
                <a href="#">
                    <img src="/storage/image/white-bell-footer.svg">
                </a>
            </li>

            <li class="navigation-icons__user">
                <a href="../index.html">
                    <img src="/storage/image/user-white.svg">
                </a>
            </li>
        </ul>
    </footer>


</body>

</html>