<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/cards.css">
    <title>Virtual Wallet - Cards View</title>
</head>
<body>

    <header class="header">
        <div class="header__logo-menu">
            <div class="logo-menu__logo">
                <img src="/storage/image/invento-black-symbol.svg" alt="Invento Logo">
                <small>INVETO</small>
            </div>

            <div class="logo-menu__menu">
                <img src="/storage/image/icon-line-menu-black.svg" alt="Menu Icon">
            </div>
        </div>
    </header>



    <main class="main">

        <article class="main__investing">

            <div class="investing__title">
                <h3>Investing Tips</h3>
            </div>
            
            <div class="investing__content">
                <div class="investing-content__images">
                    <img src="/storage/image/pig.svg">
                </div>
                
                <div class="investing-content__info">
                    <h4>What is an ETF?</h4>
                    <small>By James B, PHD</small>
                    <a>
                        <button type="button">LEARN MORE</button>
                    </a>
                </div>
                
                <div class="investing-content__close">
                    <img src="/storage/image/x-green.svg">
                </div>
            </div>
        </article>


        <section class="my-cards">
            <h3>My cards (4)</h3>

            <section class="main__cards">

                <div class="cards">
                    
                    <div class="cards__info">
                        <div class="info__card-number">
                            <img src="/storage/image/chip-tarjeta.svg">
                            <p>**** 6175</p>
                        </div>
                        <div class="info__card-money">
                            <span>$</span>
                            <p>47,417</p>
                        </div>
                        <div class="info__card-symbol">
                            <img src="/storage/image/simbolo-tarjeta.svg">
                        </div>
                    </div>
                </div>

                <div class="cards">
                    <div class="cards__info">
                        <div class="info__card-number">
                            <img src="/storage/image/chip-tarjeta.svg">
                            <p>**** 2985</p>
                        </div>
                        <div class="info__card-money">
                            <span>$</span>
                            <p>584,400</p>
                        </div>
                        <div class="info__card-symbol">
                            <img src="/storage/image/visa.svg">
                        </div>
                    </div>
                </div>

                <div class="cards">
                    
                    <div class="cards__info">
                        <div class="info__card-number">
                            <img src="/storage/image/chip-tarjeta.svg">
                            <p>**** 6175</p>
                        </div>
                        <div class="info__card-money">
                            <span>$</span>
                            <p>47,417</p>
                        </div>
                        <div class="info__card-symbol">
                            <img src="/storage/image/simbolo-tarjeta.svg">
                        </div>
                    </div>
                </div>

                <div class="cards">
                    <div class="cards__info">
                        <div class="info__card-number">
                            <img src="/storage/image/chip-tarjeta.svg">
                            <p>**** 2985</p>
                        </div>
                        <div class="info__card-money">
                            <span>$</span>
                            <p>584,400</p>
                        </div>
                        <div class="info__card-symbol">
                            <img src="/storage/image/visa.svg">
                        </div>
                    </div>
                </div>

            </section>
        </section>

    </main>





    <footer class="footer">
        <ul class="footer__navigation-icons">
            <li>
                <a href="#">
                    <img src="/storage/image/white-home-footer.svg">
                </a>
            </li>

            <li>
                <a href="balance.html">
                    <img src="/storage/image/white-content-footer.svg">
                </a>
            </li>

            <li class="navigation-icons__menu">
                <a href="views/cards.html">
                    <img src="/storage/image/menu-green.svg">
                </a>
            </li>

            <li>
                <a href="#">
                    <img src="/storage/image/white-bell-footer.svg">
                </a>
            </li>

            <li class="navigation-icons__user">
                <a href="../index.html">
                    <img src="/storage/image/user-white.svg">
                </a>
            </li>
        </ul>
    </footer>


        
    


    
</body>
</html>