<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/cards.css">
    <title>Virtual Wallet - Cards View</title>
</head>
<body>

    <header class="header">
        <div class="header__logo-menu">
            <div class="logo-menu__logo">
                <img src="/storage/image/invento-black-symbol.svg" alt="Invento Logo">
                <small>INVETO</small>
            </div>

            <div class="logo-menu__menu">
                <img src="/storage/image/icon-line-menu-black.svg" alt="Menu Icon">
            </div>
        </div>


        
    </header>


    
</body>
</html>