<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/cards.css">
    <title>Virtual Wallet - Cards View</title>
</head>
<body>

    <header class="header">
        <div class="header__logo-menu">
            <div class="logo-menu__logo">
                <img src="/storage/image/invento-black-symbol.svg" alt="Invento Logo">
                <small>INVETO</small>
            </div>

            <div class="logo-menu__menu">
                <img src="/storage/image/icon-line-menu-black.svg" alt="Menu Icon">
            </div>
        </div>
    </header>



    <main class="main">

        <article class="main__investing">

            <div class="investing__title">
                <h3>Investing Tips</h3>
            </div>
            
            <div class="investing__content">
                <div class="investing-content__images">
                    <img src="/storage/image/pig.svg">
                </div>
                
                <div class="investing-content__info">
                    <h4>What is an ETF?</h4>
                    <small>By James B, PHD</small>
                    <a>
                        <button type="button">LEARN MORE</button>
                    </a>
                </div>
                
                <div class="investing-content__close">
                    <img src="/storage/image/x-green.svg">
                </div>
                
            </div>
        </article>
    </main>


        
    


    
</body>
</html>